YOUTUBE_API_KEY = 'AIzaSyD8g7vvAJQ0KCgVM4tjzxDWSXMVVRPT5Ec'
FACEBOOK_ACCESS_TOKEN = 'EAAieGlvY8KIBOZCCH9o3NCnRL8eTjrjDQ9ZBjADqa67FpzXeqAc1aZCtLRiLAKSlDpZC93KJKW7eRgdguwMyuU7QREOV6WHxeeVUM2ZB3nYe1qFMImHoYxjZAFZCYq0QvGCmcmLnbgnJN3uuktV41q8dEEFuASC5s2cL6vvVYxzfJAlU0hceqimWijgS4cCKfjHItZB8Cx4vNe3t5luq9MtwGhfcaZBrACFLmyTgZCnd6JX7lZBJ3q2AVpjdwZDZD'
TWITTER_API_KEY = 'F2SIsny1Wyjae9iXI6MDOLHR1'
TWITTER_API_SECRET_KEY = 'DK1cPFGWPLfLhmgzOFhVW614gbFX8XfKBeoTdEPubdQHCP3vU7'
TWITTER_ACCESS_TOKEN = '1479660185589141504-GxVLCL79TZQloRYK4WQ3cIi8AYSAYT'
TWITTER_ACCESS_TOKEN_SECRET = 'GI2WFAuKMqVCCnlY2pjrsVBHt4Cz7f8GG8fBfUNnoGVJS'
INSTAGRAM_ACCESS_TOKEN = 'IGQWRQWVVjSFg1bnRaM0trbmotUGNQZAFZAGNGlhUXFfVnpaTng0c2cyeTZACRFF1VnVmSjNiQlBWODBFYXJBVmVjRmN5ODd3ekZAPdWxxeFpnV3lXWDJjV19PdHBxRkV5RVhBNTJPQlhtR1o3SFljS2owVjNuSmFvajQZD'



pandas
numpy
scikit-learn
matplotlib
seaborn
tensorflow (if applicable)


